---
import { Image } from "astro:assets";
import ProjectLayoutLinks from "../components/ProjectLayout-Links.astro";
import Layout from "../layouts/Layout.astro";
import CardTitle from "../components/CardTitle.astro";

interface Project {
  tech?: string;
  title?: string;
  year?: string;
  url?: string;
  thumbnail?: string;
  problems?: string[];
}

const projects: Project[] = [
  {
    tech: "Laravel",
    title: "eeo Plataform Page Renewal",
    year: "2024",
    url: "https://eeo.today/",
    thumbnail: "a3_2024-02",
    problems: [
      "Worked with an overseas team to migrate the front end from Astro.js to a Laravel project.",
      "Reestructured components and file queueing to improve performance.",
    ],
  },
  {
    tech: "Wordpress",
    title: "A3 corporate site Renewal",
    year: "2024",
    url: "https://athree3.com/",
    thumbnail: "a3_2024-01",
    problems: [
      "Created and planned all pages, components, and structures for future updates from scratch.",
      "Developed reusable components to ensure consistency across multiple pages.",
      "Created custom fields for easy content updates by admins.",
      "Maintained consistent design and CSS variables across all pages.",
    ],
  },
  {
    tech: "Symfony",
    title: "eeo Store Special Products Page",
    year: "2024",
    url: "https://eeo.today/store/101/specialfeature/oshiplus",
    thumbnail: "a3_projectoshipura",
    problems: [
      "Complex design, and big design differences between Mobile and Desktop",
      "Ensured Design Functionality, Responsiveness, and Performance.",
    ],
  },
  {
    tech: "Astro.js",
    title: "eeo Cafe Branding Renewal Page",
    year: "2023",
    url: "https://eeo.today/graffartcafe/",
    thumbnail: "a3_project02",
    problems: [
      "Optimized My First Page as a Frontend Engineer.",
      "Customized Splide.js library to allow sliders within each slide of a slider",
      "Resized and Converted Heavy Images to WebP for Optimization.",
      "Maximized Page Speed Despite Numerous Large Images and Carousels.",
      "Enhanced SEO with Proper HTML Tags, Especially H1.",
      "Followed HTML Best Practices for SEO and Accessibility.",
      "Ensured Design Functionality, Responsiveness, and Performance.",
      "Contributed to the Design Process.",
    ],
  },
  {
    tech: "HTML, CSS, JQuery",
    title: "eeo Stage Page Branding Renewal",
    year: "2023",
    url: "https://eeo.today/stage/",
    thumbnail: "a3_project01",
    problems: [
      "Solved Twitter Widget Interfering in the Page Performance Loading.",
      "Adapted Design Concepts to Better Solutions on The Frontend for FCP, LCP, etc.",
      "Reached Above 90 Points in Performance During the Release Time.",
      "Applied Downloaded Fonts in WOFF2 Format to Improve Page Performance.",
    ],
  },
  {
    tech: "HTML, CSS, Symfony",
    title: "eeo Store e-commerce UI Renewal, Major update",
    year: "2023",
    url: "https://eeo.today/store/101/",
    thumbnail: "a3_project03",
    problems: [
      "Tackled my first major project at A3 as a Frontend Engineer.",
      "Quickly learned to navigate and understand a PHP/Symfony project with minimal guidance, successfully implementing all requested updates.",
      "Improved code maintainability by refactoring HTML, CSS/SASS, and JS/jQuery to eliminate redundancy.",
      "Removed a significant number of unnecessary HTML elements and CSS rules.",
      "Upgraded from Slick Carousel to Swiper Carousel for better performance and customization.",
      "Gained experience working with GitHub branches, as well as local, test, and production environments.",
      "Independently resolved configuration issues on my local environment after initial setup instructions",
    ],
  },
];
---

<Layout title="Rafael Hirashiki's Main Projects at A3">
  <ProjectLayoutLinks />
  <div
    class="col-start-2 col-span-10 max-sm:col-start-3 max-sm:col-span-9"
  >
    <p class="italic text-2xl clr-brand-orange">Works at A3</p>
    {
      projects?.map((project, i) => (
        <a class="block mt-10 mb-20 relative z-50" href={project.url} target="_blank">
          <CardTitle i={i} project={project} />
          <div class="">
            <div class="card-height w-full overflow-hidden flex justify-center">
              <Image
                src={`/Images/${project.thumbnail}.webp`}
                width={1100}
                height={940}
                format="webp"
                alt=""
                class="object-cover"
              />
            </div>
            <div class="absolute -bottom-4 -right-4 css-glass-bg font-bold w-fit ml-auto text-right css-glass-bg px-6 py-8 mt-8">
              <h3>{project.tech}</h3>
              <br />
              <h3>Solved Challenges</h3>
              <ul>
                {project.problems?.map((bullet) => (
                  <li>❍ {bullet}</li>
                ))}
              </ul>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
