---
import { Image } from "astro:assets";
import H1 from "./H1.astro";
import RafaPic from "./Rafa-pic.astro";
import ButtonToggleHeader from "./ButtonToggleHeader.tsx";
import ProjectGithubIcon from "./ProjectGithubIcon.astro";
import ProjectLinkedin from "./ProjectLinkedin.astro";
import ContactIcons from "./ContactIcons.astro";
const { headerIndex, class: className, ...rest } = Astro.props;
const { pathname } = Astro.url;

const navObj = [
  {
    path: "/",
    navTitle: "Home",
    navSubtitle: null,
  },
  {
    path: "/roadmap",
    navTitle: "Career & Roadmap",
    navSubtitle: "to INFINITY and Beyond!",
  },
  {
    path: "/a3",
    navTitle: "Works at A3",
    navSubtitle: "Frontend Engineer",
  },
  {
    path: "/agendae",
    navTitle: "Works at Agendae+",
    navSubtitle: "System Engineer (Backend)",
  },
  {
    path: "/projects2022",
    navTitle: "Projects 2022",
    navSubtitle: "Frontend Coder",
    navTech: "HTML/CSS/JS/Next.js",
  },
];
---

<style>
  .header-in-grid {
    grid-template-rows: min-content 1fr;
  }
  .star-container {
    height: fit-content;
    position: relative;
    width: 40px;
    height: 100%;
  }

  .star-bar {
    height: 1px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .fa-diamond {
    display: block;
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 12px;
    transition: 1s ease;
  }

  .big-bar {
    height: 2px;
  }

  .big-diamond {
    width: fit-content;
    top: 0;
    bottom: 0;
    right: -12px;
    margin-right: 0;
    font-size: 20px;
    transition: 1s ease;
  }

  .li-projectTitle {
    line-height: 1;
    padding-top: 8px;
  }
  .li-year,
  .li-role {
    font-size: 12px;
    line-height: 1;
    display: block;
    padding-bottom: 0.25rem;
  }
  .li-year {
    text-decoration: underline;
    padding-top: 1.5rem;
  }
</style>

<header class={className} {...rest} id="myHeader">
  <!-- <p class="absolute bottom-0">powered by Astro</p> -->
  <Image
    src={headerIndex
      ? "/Images/stars-topleft-index.svg"
      : "/Images/stars-topleft.svg"}
    width={220}
    height={40}
    format="svg"
    alt="stars bg"
    class="absolute top-4 z-10"
  />
  <div
    class={`${!headerIndex && "header-in-grid"} relative col-start-2 col-span-full grid gap-4 justify-around h-full pt-10 pr-4 max-lg:col-start-2 max-lg:col-span-10 max-md:justify-center max-md:p-0`}
  >
    <img
      src={headerIndex
        ? "/Images/stars-bottomleft-index.svg"
        : "/Images/stars-bottomleft.svg"}
      width={440}
      height={450}
      alt="stars bg"
      class="absolute bottom-0 -left-6 z-10"
    />

    {
      headerIndex ? (
        <>
          <section class="self-start">
            <H1
              text="Rafael Hirashiki"
              index={true}
              class="text-5xl max-xl:text-4xl max-md:text-3xl max-sm:text-2xl font-bold"
            />
            <p class="max-lg: text-sm">Casual Dancer</p>
          </section>

          <section class="text-2xl max-lg:text-lg max-md:text-lg max-sm:text-base font-bold">
            <h2 class="pt-4 pb-4">
              <i class="fa-regular fa-circle" /> Web Frontend Engineer
            </h2>
            <h3 class="pb-4">
              <i class="fa-solid fa-moon" /> System Engineer (graduating)
            </h3>
          </section>

          <section class="">
            <p class="pb-6 text-xl max-lg:text-base max-md:text-sm ">
              From Brazil, Based in Tokyo. <br />
              Passionate for connecting stars, understanding problems, finding
              solutions, upgrading performances and flows.
            </p>
            <p>Special interest in health and nature fields</p>
          </section>

          <nav class="self-end justify-self-end relative z-50 pb-20 max-md:pb-10 max-md:pt-4">
            <ul>
              <li class="">
                <a
                  href="/roadmap"
                  class="text-4xl max-xl:text-3xl max-lg:text-2xl max-md:text-xl font-bold flex flex-nowrap justify-center items-center gap-4 text-right"
                >
                  <p class="underline">Career & Roadmap</p>
                  <div class="star-container">
                    <div class="star-bar" />
                    <i class="fa-solid fa-diamond" />
                  </div>
                </a>
                <div class="relative z-50 flex justify-end gap-4 pr-16">
                  <a href="https://www.behance.net/rafael-hiro" target="_blank">
                    Behance
                  </a>
                  <a
                    href="https://www.artstation.com/hirashiki"
                    target="_blank"
                  >
                    Artstation
                  </a>
                </div>
              </li>
              <ContactIcons class={"justify-end"} classp={"text-end"} />
            </ul>
          </nav>
        </>
      ) : (
        <>
          <ButtonToggleHeader client:only />
          <RafaPic class="relative z-50 w-4/6 m-auto h-fit max-lg:w-6/6 " />
          <H1
            text="Rafael Hirashiki"
            index={false}
            class="absolute bottom-1/4 -left-10 -rotate-90 w-0 whitespace-nowrap text-3xl  max-xl:text-2xl max-lg:text-3xl max-md:text-2xl font-bold  m-auto"
          />
          <nav class="pb-16 relative z-50  max-xl:pb-20 self-end">
            <ul class="pr-4">
              {navObj.map((ele) => (
                <li>
                  {ele.path === "/projects2022" && (
                    <p class="li-year">2022 & 2023</p>
                  )}
                  <a
                    href={ele.path}
                    class="text-xl max-xl:text-lg max-lg:text-xl font-bold flex flex-nowrap justify-between items-center gap-4"
                  >
                    <p
                      class={`flex flex-col items-start ${pathname === ele.path && "clr-brand-orange"}`}
                    >
                      <span class="li-projectTitle">{ele.navTitle}</span>
                      <span class="li-role">{ele.navSubtitle} </span>
                    </p>
                    <div class="star-container">
                      <div
                        class={`star-bar ${
                          pathname === ele.path && "big-bar clr-brand-orange"
                        } `}
                      />
                      <i
                        class={`fa-solid fa-diamond ${
                          pathname === ele.path &&
                          "big-diamond clr-brand-orange"
                        } `}
                      />
                    </div>
                  </a>
                </li>
              ))}
            </ul>
          </nav>
        </>
      )
    }
  </div>
</header>
