---
import Layout from "../layouts/Layout.astro";
import H2ProjectTitle from "../components/H2project-title.astro";
import { Image } from "astro:assets";

const { project } = Astro.props;

console.log(project.data.projectBulletList);
---

<Layout>
  <div class="grid grid-cols-6 w-full items-end absolute -top-40">
    <Image
      src="/Images/stars-black-topright.svg"
      width={744}
      height={655}
      format="png"
      alt="stars bg"
      class=" col-span-7 w-full"
    />
    <a href={project.data.githubURL} class="flex flex-col items-center w-fit col-start-7">
      <Image
        src="/Images/logo_github.png"
        width={144}
        height={213}
        format="png"
        alt="github logo"
        class="url-logo-black "
      />
      <p>Github</p>
    </a>
    <a href={project.data.figmaURL} class="flex flex-col items-center w-fit col-start-7">
      <Image
        src="/Images/logo_figma.svg"
        width={144}
        height={213}
        format="svg"
        alt="figma logo"
        class="url-logo-black"
      />
      <p>Figma</p>
    </a>
    <a href={project.data.projectURL} class="flex flex-col items-center w-fit col-start-7">
      <span class="url-logo-black"> open_in_new</span>
      <p>Project</p>
    </a>
  </div>
  <H2ProjectTitle text={project.data.projectTitle} />
  <img src={`/Images/${project.data.thumbnail}.jpg`} />
  <p>{project.data.projectSubtitle}</p>
  <ul>
    {project.data.projectBulletList.map((option: string) => <li>❍{option}</li>)}
  </ul>
</Layout>
