---
import Layout from "../layouts/Layout.astro";
import ProjectLayoutLinks from "./ProjectLayout-Links.astro";
import H2ProjectTitle from "./H2project-title.astro";
import ProjectLayoutBody from "./ProjectLayout-Body.astro";
import ProjectLayouHead from "./ProjectLayou-Head.astro";

const { project, sysdev, road } = Astro.props;

---
<Layout>
  <ProjectLayoutLinks project={project} />

  <ProjectLayouHead projectTitle={project?.data.projectTitle}>
    <p class="py-4">
      {project.data.projectSubtitle}
    </p>
  </ProjectLayouHead>

  <ProjectLayoutBody>
    <a href={project?.data.projectURL} target="_blank"
      ><img
        src={`/Images/${project.data.thumbnail}.webp`}
        class=""
      /></a
    >

    <ul
      class={`absolute bottom-0 -right-4 font-bold py-8 w-fit ml-auto text-right  css-glass-bg px-6`}
    >
      {
        project.data.projectBulletList.map((option: string) => (
          <li>❍ {option}</li>
        ))
      }
    </ul>

  </ProjectLayoutBody>
</Layout>
