---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import Main from "../components/Main.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  headerIntro?: boolean;
}

// const {
// 	title = 'HIRASHIKI RAFAEL',
// 	description = 'A Junior Front End Engineer portfolio. Portuguese, Japanese, English and Spanish speaker.',
// 	image="/images/rafa.jpg"
// } = Astro.props;

const { title, description, image, headerIntro } = Astro.props;

import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const projects = await getCollection("projects");
// console.log(projects);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />

    <!-- Font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>

  <body class={`grid grid-cols-12 ${headerIntro && "clr-bg"}`}>
    <!-- <Image
      src="/Images/stars-bg.svg"
      width={1920}
      height={1080}
      format="svg"
      alt="stars bg"
      class="fixed w-screen z-50"
    /> -->
    <Header
      headerIntro={headerIntro}
      class={`w-full h-screen col-start-1 ${
        headerIntro ? "col-span-5" : "col-span-4"
      } clr-bg py-8 grid grid-cols-5`}
    />
    <Main
      projects={projects}
      class={`w-full h-screen ${
        headerIntro ? "col-span-7" : "col-span-8"
      }  max-md:px-24 relative`}
    >
      <slot />
    </Main>
    <!-- <Footer/> -->
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );

        --clr-bg: #0f2132;
        --clr-coder: #00d9f7;
      }

      /* reset  */
      html {
        box-sizing: border-box;
        font-size: 16px;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      ol,
      ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
      }

      ol,
      ul {
        list-style: none;
      }

      img {
        max-width: 100%;
        height: auto;
      }
      /* reset  */

      html,
      body {
        font-family: "Roboto", sans-serif;
      }

      a:hover {
        cursor: pointer;
      }

      /* img {
        width: 100%;
      } */

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      .clr-bg {
        background-color: var(--clr-bg);
        color: "white";
      }

      .li-year,
      .li-role {
        font-size: 12px;
        line-height: 1.8;
      }

      .photo_div {
        border-radius: 50%;
        width: fit-content;
      }

      .material-symbols-outlined {
        background-color: black;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        color: white;
        font-size: 32px;
        padding: 4px;
      }

      .grid-item-ball > span:nth-child(2) {
        display: block;
        width: fit-content;
        margin: auto;
        color: var(--clr-coder);
      }
    </style>
  </body>
</html>
