---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import Main from "../components/Main.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  headerIndex?: boolean;
}

const { title, description, headerIndex } = Astro.props;

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rafael Hirashiki, Frontend Engineer's Nifty Journey</title>
    <meta name="description" content=" 
    Working to be a FullStack Engineer, specialized as a Frontend for now.
    Shooting for the stars. 
    `If I give it my all, will it pay off?
    Workin' overtime, no days off
    All these shootin' stars in the dark (Yeah)
    All these shootin' stars in the dark, make a wish (Yeah)
    Takin' off from the ground, it's amazin'
    So outta this world, I'm in space`" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- OGP -->
    <meta property="og:title" content="Rafael Hirashiki, a Frontend Engineer's Nifty Journey" />
    <meta property="og:type" content="website portfolio" />
    <meta
      property="og:url"
      content="https://hirashiki-rafael-portfolio.netlify.app/"
    />
    <meta property="og:description" content="
    Working to be a FullStack Engineer, specialized as a Frontend for now.
    Shooting for the stars. 
    `If I give it my all, will it pay off?
    Workin' overtime, no days off
    All these shootin' stars in the dark (Yeah)
    All these shootin' stars in the dark, make a wish (Yeah)
    Takin' off from the ground, it's amazin'
    So outta this world, I'm in space`" />
    <meta
      property="og:image"
      content="../../public/Images/index-rafa2.webp"
    />
    <ViewTransitions />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

  </head>

  <body
    class={`grid grid-cols-12 ${
      headerIndex && "clr-bg body-rows"
    } overflow-x-hidden css-no-scrollbar`}
  >
    {
      headerIndex && (
        <>
          <Header
            headerIndex={headerIndex}
            class={`relative w-full css-min-h100 col-start-1 col-span-5 grid grid-cols-8 max-lg:min-h-min max-lg:grid-cols-12 css-body-row-2 max-lg:col-span-full`}
          />
          <Main
            projects={projects}
            class={`w-full h-fit m-auto col-span-7 css-no-scrollbar css-body-row-1 max-lg:w-12/12 max-lg:my-0 max-lg:top-12 max-sm:col-span-full `}
          >
            <slot />
          </Main>
        </>
      )
    }

    {
      !headerIndex && (
        <>
          <Header
            headerIndex={headerIndex}
            class={`css-hideHeader max-lg:absolute col-start-1 col-span-3 max-lg:col-span-3 clr-bg pt-8 grid grid-cols-5 max-lg:min-h-screen`}
          />
          <Main
            projects={projects}
            class={`w-full h-screen pb-8 col-span-9 max-lg:col-start-1 max-lg:col-span-full overflow-y-scroll pt-16 css-no-scrollbar grid grid-cols-12`}
          >
            <slot />
          </Main>
        </>
      )
    }

    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );

        --clr-bg: #0f2132;
        --clr-bg-glass: #0f2132c0;
        --clr-charchoal: #333333;
        --clr-brand-blue: #00d9f7;
        --clr-brand-orange: #ff9900;

        --logo-size: 36px;
      }

      /* reset  */
      html {
        box-sizing: border-box;
        font-size: 16px;
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      ol,
      ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
      }

      ol,
      ul {
        list-style: none;
      }

      img {
        max-width: 100%;
        height: auto;
      }
      /* reset  */

      html,
      body {
        font-family: "Roboto", sans-serif;
        color: var(--clr-charchoal);
      }

      .body-rows {
        grid-template-rows: 1fr;
      }

      main {
        position: relative;
        grid-template-rows: min-content 1fr;
      }
      .css-body-index-small {
        grid-template-rows: auto;
      }

      a:hover {
        cursor: pointer;
        color: var(--clr-brand-blue);
        transition: all 0.3s;
      }
      a:active {
        color: var(--clr-bg);
        transition: all 0.2s;
      }

      header {
        width: 100%;
        position: relative;
        z-index: 999;
      }
      .css-min-h100 {
        min-height: 0;
      }
      #toggleButton {
        z-index: 999;
        position: absolute;
        top: 0;
        right: -1.5rem;
        width: fit-content;
        height: fit-content;
      }
      #fa-arrowHeader {
        transition: all 0.5s;
      }
      .movebutton {
        right: 2rem !important;
        transition: all 0.5s;
      }
      .rotate {
        transform: rotate(225deg) !important;
        transition: all 0.5s;
        border: 1px solid white;
      }

      @media screen and (min-width: 1201px) {
        .css-min-h100 {
          min-height: 100svh;
          min-height: 100dvh;
          min-height: 100vh;
        }
      }
      @media screen and (max-width: 1200px) {
        header {
          width: 50%;
          left: 0;
          transition: all 0.3s ease-out;
        }
        main {
          position: absolute;
        }

        .body-rows  {
          grid-template-rows: 1fr 1fr;
          row-gap: 4rem;
        }
        .css-hideHeader {
          position: absolute;
          left: -50%;
          transition: all 0.3s ease-out;
        }

        .css-body-index-small {
          grid-template-rows: 1fr 1fr;
        }
        .css-body-row-1 {
          grid-row-start: 1 !important;
          grid-row-end: 2 !important;
        }
        .css-body-row-2 {
          grid-row-start: 2 !important;
          grid-row-end: 3 !important;
        }
      }
      @media screen and (max-width: 767px) {
        header {
          width: 80vw;
        }
        .css-hideHeader {
          left: -80%;
        }
      }
      @media screen and (max-width: 420px) {
        .body-rows  {
          grid-template-rows: min-content 1fr;
          row-gap: 4rem;
        }
        header {
          width: 100vw;
        }

        main {
          position: relative;
        }

        .css-hideHeader {
          left: -100%;
        }
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      .clr-bg {
        background-color: var(--clr-bg);
        color: "white";
      }
      .css-photo_div {
        border-radius: 50%;
        width: fit-content;
      }
      .url-logo-black {
        background-color: black;
        width: var(--logo-size);
        height: var(--logo-size);
        border-radius: 5px;
        padding: 5px;
        font-size: 26px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .url-logo-github {
        font-size: 32px;
      }
      .url-logo {
        background-color: transparent;
        width: var(--logo-size);
        height: var(--logo-size);
        border-radius: 5px;
        padding: 0;
      }
      .grid-item-ball > span:nth-child(2) {
        display: block;
        width: fit-content;
        margin: auto;
        color: var(--clr-brand-blue);
      }
      .css-glass-bg {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.8);
        border-radius: 16px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.8px);
        -webkit-backdrop-filter: blur(4.8px);
        border: 2px solid var(--clr-brand-blue);
        color: var(--clr-bg);
      }
      .css-no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      .css-no-scrollbar::-webkit-scrollbar {
        display: none;
      } /* Hide scrollbar for IE, Edge, and Firefox */

      .card-height {
        min-height: 500px;
      }
      @keyframes animateVertical {
        from {
          height: 0;
        }
        to {
          height: 100%;
        }
      }
      @keyframes animateHorizontal {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
    </style>
  </body>
</html>
