---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import Main from "../components/Main.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  headerIndex?: boolean;
}

const { title, description,headerIndex } = Astro.props;

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
// console.log(projects);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />

    <!-- <script
      src="https://kit.fontawesome.com/2a7d8b909e.js"
      crossorigin="anonymous"></script> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
    ></script>
  </head>

  <body
    class={`grid grid-cols-12 ${headerIndex && "clr-bg"} overflow-y-hidden`}
  >
    <!-- <Image
      src="/Images/stars-bg.svg"
      width={1920}
      height={1080}
      format="svg"
      alt="stars bg"
      class="fixed w-screen z-50"
    /> -->
    <Header
      headerIndex={headerIndex}
      class={`relative w-full h-screen col-start-1 ${
        headerIndex ? "col-span-5" : "col-span-4"
      } clr-bg pt-8 grid grid-cols-5`}
    />
    <Main
      projects={projects}
      class={`relative w-full h-screen ${
        headerIndex ? "col-span-7" : "col-span-8 overflow-y-scroll pt-32"
      }  max-md:px-24 css-no-scrollbar grid grid-cols-8 `}
    >
      <slot />
    </Main>
    <!-- <Footer/> -->
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );

        --clr-bg: #0f2132;
        --clr-coder: #00d9f7;
        --clr-sys: #ff9900;
      }

      /* reset  */
      html {
        box-sizing: border-box;
        font-size: 16px;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      ol,
      ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
      }

      ol,
      ul {
        list-style: none;
      }

      img {
        max-width: 100%;
        height: auto;
      }
      /* reset  */

      html,
      body {
        font-family: "Roboto", sans-serif;
        color: #333333;
      }

      a:hover {
        cursor: pointer;
      }

      /* img {
        width: 100%;
      } */

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      .clr-bg {
        background-color: var(--clr-bg);
        color: "white";
      }

      .css-photo_div {
        border-radius: 50%;
        width: fit-content;
      }
      .url-logo-black {
        background-color: black;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        padding: 4px;
        font-size: 30px;
        color: white;
      }

      .url-logo {
        background-color: transparent;
        width: 42px;
        height: 42px;
        border-radius: 5px;
        padding: 0;
      }

      .grid-item-ball > span:nth-child(2) {
        display: block;
        width: fit-content;
        margin: auto;
        color: var(--clr-coder);
      }

      .css-no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      .css-no-scrollbar::-webkit-scrollbar {
        display: none;
      } /* Hide scrollbar for IE, Edge, and Firefox */
    </style>


  </body>
</html>
